RPC_URL=https://testnet.sapphire.oasis.io
NFT_COLLECTION=0xbAD6a56C82776364AA4Db83B3d2d2FC3693eba7A
NFT_MARKETPLACE=0xaC831023BDEBc7876Fdb71602F149d89D8E54504
DATABASE_URL=postgresql+asyncpg://user:password@host:5432/dbname
ALLOWED_ORIGINS=http://localhost:5173,https://your-app.vercel.app
